header {
  text-align: center; 
}

body {
  background-color: #fef8ef;
  font-family: Georgia, serif; 
}

div{
  background-color:rgba(181, 211, 229);
  height:700px;
  overflow: scroll;
  scrollbar-width: none;
}

list {
  font-size: 20px;
  margin-right: 2%;
  margin-left: 2%;
  }

li {
  margin-right: 2%;
  margin-left: 2%; 
}

h1 {
  font-size: 48px; 
  margin-right: 2%;
  margin-left: 2%;
}

h2 {
  font-size: 36px; 
  margin-right: 2%;
  margin-left: 2%;
}

p {
  font-size: 20px; 
  margin-right: 2%;
  margin-left: 2%;
}

footer{
  text-align: center; 
}

/*
.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
} 


.course-logo {
  width: 35vw;
}

*/

/*POPUP*/

.hidden {
  display: none;
}

#openPopup {
 background-color:#7f90a1;;
 width:300px;
 margin: auto;
 text-align: center;
 border-radius: 25px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 padding: 10px;
 cursor: pointer;
}

#popupBox {
  background-color: #7f90a1;;
  width: 90%;
  margin: auto;
  height: 300px;
  border-radius: 25px;
  overflow: scroll;
  scrollbar-width: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.hidden {
  display: none;
}

#openDatapop {
 background-color:#7f90a1;;
 width:300px;
 margin: auto;
 text-align: center;
 border-radius: 25px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 padding: 10px;
}

#dataPop {
  background-color: #7f90a1;;
  width: 90%;
  margin: auto;
  height: 300px;
  border-radius: 25px;
  overflow: scroll;
  scrollbar-width: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.topnav {
  background-color: #fef8ef;
  height: 50px;
  display: block;
}



a {
  font-size: 20px;
  padding: 10px;
}

a:hover {
background-color:#7f90a1;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
 }


.firstpage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(181, 211, 229, 0.9);
  height: 700px;
}

.firstpage img {
  width: 25%;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.firstpage img:hover {
  opacity: 1;
  transform: scale(1.05);      /* zoomar in lite */
}

.text-image-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fef8ef;
}

.text-image-box .text {
  flex: 1;
}

.text-image-box img {
  width: 33%;
  height: 700px;
  background-color: rgba(181, 211, 229);
}
