
/* Feel free to change me and make me your own! */

body {
  background-image: url("img/cereals.jpg");
  background-repeat: no-repeat;
  background-color: #1b80b8;
  font-family: Georgia, serif; 
}
ul#navigation {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #1b80b8;
  }
  ul#navigation li {
    float: left;
  }

ul#navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navigation li a:hover {
background-color:#dc9332;
}

div {
  background-color:rgba(27, 128, 184, 0.9);
  width: 60%;
  border-radius: 25px;
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}

h1 {
  font-size: 48px; 
}

h2 {
  font-size: 36px; 
}

p {
  font-size: 20px; 
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

.course-logo {
  width: 35vw;
}

